/* Основные стили для разрешения до 1280px и выше*/
.footer__link-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 720px) {
  .footer__link-list {
    flex-direction: column;
  }
}