/* Основные стили для разрешения до 1280px */
.page {
  width:100%;
  max-width: 1600px;
  min-width: 288px;
  margin: 0 auto;
  position: relative;
  background-color: #2A2C2F;
  color: #fff;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  outline: 1px solid red;
}

/* Cтили для для разрешения до 1024px */
@media screen and (max-width: 1024px) {
  .page {
    width:100%;
  }
}

/* Cтили для для разрешения до 768px */
@media screen and (max-width: 768px) {
  .page {
    width:100%;
  }
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 320px) {
  .page {
    width:100%;
  }
}
