/* Основные стили для разрешения до 1280px и выше*/
.places__title {
  outline: 1px solid red;
  grid-column: 1;
  grid-row: 1;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(76 / 72);
  margin: 0;
}

/* Cтили для для разрешения до 1024px */
@media screen and (max-width: 1024px) {
  .places__title {
    font-size: calc((100vw - 320px) / (1024 - 320) * (72 - 32) + 32px);
  }
}

/* Cтили для для разрешения до 768px */
@media screen and (max-width: 768px) {
  .places__title {
    line-height: calc(46 / 42);
  }
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 320px) {
  .places__title {
    font-style: normal;
    font-weight: 900;
    line-height: calc(35 / 32);
    padding: 0 16px 0;
  }
}