.places__link {
  text-decoration: none;
  text-decoration: underline;
  color: #fff;
}

.places__link:hover {
  opacity: .8;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}