/* Основные стили для разрешения до 1280px и выше*/
.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(../../../images/header/__logo/header-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Cтили для для разрешения до 1024px */
@media screen and (max-width: 1024px) {
  .header__logo {

  }
}

/* Cтили для для разрешения до 768px */
@media screen and (max-width: 768px) {
  .header__logo {

  }
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}