/* Основные стили для разрешения до 1280px и выше*/
.footer__link {
  text-decoration: none;
  color: #fff;
  outline: 1px solid red;
  padding-right: 18px;
}

.footer__link:last-child {
  padding-right: 0;
}

/* Cтили для для разрешения до 1024px */
@media screen and (max-width: 1024px) {
  .footer__link {

  }
}

/* Cтили для для разрешения до 768px */
@media screen and (max-width: 768px) {
  .footer__link {

  }
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 320px) {
  .footer__link {

  }
}