/* Основные стили для разрешения до 1280px и выше*/
.footer__copyright {
  font-size: 14px;
  line-height: calc(16 / 14);
  padding: 0;
  margin: 0;
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 720px) {
  .footer__copyright {
    font-size: 14px;
    line-height: calc(14 / 14);
    padding: 48px 0 0;
  }
}