@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../fonts/inter/Thin.woff2") format("woff2"),
       url("../../fonts/inter/Thin.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("../../fonts/inter/ExtraLight.woff2") format("woff2"),
       url("../../fonts/inter/ExtraLight.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/inter/Light.woff2") format("woff2"),
       url("../../fonts/inter/Light.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/inter/Regular.woff2") format("woff2"),
       url("../../fonts/inter/Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/inter/Medium.woff2") format("woff2"),
       url("../../fonts/inter/Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/inter/SemiBold.woff2") format("woff2"),
       url("../../fonts/inter/SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/inter/Bold.woff2") format("woff2"),
       url("../../fonts/inter/Black.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/inter/ExtraBold.woff2") format("woff2"),
       url("../../fonts/inter/ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/inter/Black.woff2") format("woff2"),
       url("../../fonts/inter/Black.woff") format("woff");
}