/* Основные стили для разрешения до 1280px и выше*/
.intro {
  max-width: 984px;
  margin: 0 auto 92px;
  outline: 1px solid red;
}

/* Cтили для для разрешения до 1024px */
@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
    margin: 0 auto 88px;
  }
}


/* Cтили для для разрешения до 768px */
@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 24px 88px 24px;
  }
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 320px) {
  .intro {
    max-width: 320px;
    margin: 0 16px 64px 16px;
  }
}