/* Основные стили для разрешения до 1280px и выше*/
.lead__subtitle {
  width: 640px;
  margin: 0 auto 64px;
  outline: 1px solid red;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

/* Cтили для для разрешения до 825px */
@media screen and (max-width: 825px) {
  .lead__subtitle {
    margin: 0 auto 40px;
    width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}