/* Основные стили для разрешения до 1280px и выше*/
.cover {
  background-image: url(../../images/cover/__background/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px;
}

/* Cтили для для разрешения до 1024px */
@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100vw;
    min-height: 640px;
  }
}

/* Cтили для для разрешения до 768px */
@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}