/* Основные стили для разрешения до 1280px и выше*/
.places__place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-template-rows: auto;
  gap: 40px;
}

.places__place:last-of-type {
  padding: 0;
}

/* Cтили для для разрешения до 1024px */
@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: fit-content(440px) fit-content(456px);
  }
}

/* Cтили для для разрешения до 768px */
@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: fit-content(340px) fit-content(352px);
    padding-bottom: 72px;
  }
}

/* Cтили для для разрешения до 520px */
@media screen and (max-width: 680px) {
  .places__place {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 49px;
  }
}