.lead__caption {
  margin: 8px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* Cтили для для разрешения до 825px */
@media screen and (max-width: 825px) {
  .lead__caption {
    margin-left: 24px;
  }
}

/* Cтили для для разрешения до 425px */
@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
  }
}