/* Основные стили для разрешения до 1280px и выше*/
.cover__title {
  max-width: 560px;
  margin: 0 auto 32px;
  outline: 1px solid greenyellow;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(72 / 76);
  z-index: 1;
}

/* Cтили для для разрешения до 1024px */
@media screen and (max-width: 1024px) {
  .cover__title {

  }
}

/* Cтили для для разрешения до 768px */
@media screen and (max-width: 768px) {
  .cover__title {
    /* font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
    font-size: calc((100vw - 320px)/(768 - 320) * (76 - 32) + 32px);
  }
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    line-height: calc(32 / 35);
  }
}