/* Основные стили для разрешения до 1280px и выше*/
.places__website {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Cтили для для разрешения до 320px */
@media screen and (max-width: 680px) {
  .places__website {
    display: none;
  }
}